<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
					<ul class="liste-footer">
						<li class="first-liste-footer">Titre</li>
						<li>Lien 1</li>
						<li>Lien 2</li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
					<ul class="liste-footer">
						<li class="first-liste-footer">Titre</li>
						<li>Lien 1</li>
						<li>Lien 2</li>
						<li>Lien 3</li>
						<li>Lien 4</li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
					<ul class="liste-footer">
						<li class="first-liste-footer">Titre</li>
						<li>Lien 1</li>
						<li>Lien 2</li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
					<ul class="liste-footer">
						<li class="first-liste-footer">Titre</li>
						<li>Lien 1</li>
						<li>Lien 2</li>
						<li>Lien 3</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
				<div class="col-lg-4 col-md-4 col-sm-4 hidden-xs"></div>
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
					<img src="assets/fb.png" class="picto-social">
					<img src="assets/twitter.png" class="picto-social">
					<img src="assets/linkedin.png" class="picto-social">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bouton-question">Ask question</div>
				</div>
			</div>
			<div class="clearfix"></div>
			<img src="assets/logo1.jpeg" width="30%">
		</div>
	</div>
</div>
