<div class="container">
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 encadre">
			<a href="">
				<img src="assets/tente.jpg" width="100%">
				<span class="sulli">Tente</span>
			</a>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 encadre">
			<a href="">
				<img src="assets/bulle.jpg" width="100%">
				<span class="sulli">Bulle</span>
			</a>
		</div>
		<div class="clearfix"></div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 encadre">
			<a href="">
				<img src="assets/mobilhome.jpg" width="100%">
				<span class="sulli">Mobil-home</span>
			</a>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 encadre">
			<a href="">
				<img src="assets/cabane.jpg" width="100%">
				<span class="sulli">Cabane</span>
			</a>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
