<div class="container">
	<div class="row">
		<div  class="col-lg-4 col-md-4 col-sm-6 col-xs-12 div-liste">
			<img src="assets/image2.jpg" class="image-liste">
			<h5>Cabane dans les arbres - ABCDEF</h5>
			<ngb-rating [rate]="5"></ngb-rating>
			<h6>4 - 6 Personnes - Caution : 1000€</h6>
			<h5 class="prix">257€ par nuit</h5>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 div-liste">
			<img src="assets/image2.jpg" class="image-liste">
			<h5>Cabane dans les arbres - ABCDEF</h5>
			<ngb-rating [rate]="4.78"></ngb-rating>
			<h6>4 - 6 Personnes - Caution : 1000€</h6>
			<h5 class="prix">257€ par nuit</h5>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 div-liste">
			<img src="assets/image2.jpg" class="image-liste">
			<h5>Cabane dans les arbres - ABCDEF</h5>
			<ngb-rating [rate]="4"></ngb-rating>
			<h6>4 - 6 Personnes - Caution : 1000€</h6>
			<h5 class="prix">257€ par nuit</h5>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 div-liste">
			<img src="assets/image2.jpg" class="image-liste">
			<h5>Cabane dans les arbres - ABCDEF</h5>
			<ngb-rating [rate]="5"></ngb-rating>
			<h6>4 - 6 Personnes - Caution : 1000€</h6>
			<h5 class="prix">257€ par nuit</h5>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 div-liste">
			<img src="assets/image2.jpg" class="image-liste">
			<h5>Cabane dans les arbres - ABCDEF</h5>
			<ngb-rating [rate]="4"></ngb-rating>
			<h6>4 - 6 Personnes - Caution : 1000€</h6>
			<h5 class="prix">257€ par nuit</h5>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 div-liste">
			<img src="assets/image2.jpg" class="image-liste">
			<h5>Cabane dans les arbres - ABCDEF</h5>
			<ngb-rating [rate]="5"></ngb-rating>
			<h6>4 - 6 Personnes - Caution : 1000€</h6>
			<h5 class="prix">257€ par nuit</h5>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
