<app-navbar></app-navbar>
<div class="pres-de-chez-vous">
	<h2>Tout nos tente</h2>
</div>
<app-logement></app-logement>
<div class="pres-de-chez-vous">
	<h2>Tout nos bulle</h2>
</div>
<app-logement></app-logement>
<div class="pres-de-chez-vous">
	<h2>Tout nos mobil-home</h2>
</div>
<app-logement></app-logement>
<div class="pres-de-chez-vous">
	<h2>Tout nos cabannes</h2>
</div>
<app-logement></app-logement>
<div class="pres-de-chez-vous">
	<h2>Autres biens que nous propoposons</h2>
</div>
<app-logement></app-logement>
<app-footer></app-footer>
