<app-navbar></app-navbar>
<app-search></app-search>
<div class="pres-de-chez-vous">
	<h2>Logement atypique près de chez vous</h2>
</div>
<app-logement></app-logement>
<div class="button-perso">
	<span routerLink="/batiment">Voir plus de logements</span>
</div>
<div class="pres-de-chez-vous">
	<h2>Trouvez logement à votre pied</h2>
</div>
<app-theme></app-theme>
<div class="button-perso">
	<span>Voir plus de logements</span>
</div>
<app-assurance></app-assurance>
<div class="pres-de-chez-vous">
	<h2>Découvrez notre sélection de logements insolites</h2>
</div>
<app-groupe></app-groupe>
<div class="button-perso">
	<span>Voir plus de logements</span>
</div>
<div class="pres-de-chez-vous">
	<h2>Découvrez nos entreprises partenaires</h2>
</div>
<app-partner></app-partner>
<app-footer></app-footer>
