.pres-de-chez-vous h2 {
	text-align: center;
	color: #76ac9e;
	margin-bottom: 22px;
	margin-top: 30px;
}
.button-perso {
	text-transform: uppercase;
	color: #f49e08;
	text-align: center;
	margin: 40px auto 0;
}

.button-perso span {
	padding: 10px 20px;
	border: 1px solid #f49e08;
	cursor: pointer;
}

.button-perso span:hover {
	padding: 10px 20px;
	border: 1px solid #f49e08;
	color: white;
	background-color: #f49e08;
	cursor: pointer;
}
