<nav class="navbar navbar-expand-lg navbar-dark bg-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img src="assets/logo1.jpeg"></a>
    </div>
    <ul class="nav justify-content-end ">
      <li class="nav-item">
        <a class="nav-link text-dark" href="#">Acceuil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="#">Logements</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="#">Qui somme nous</a>
      </li>
      <li class="nav-item" *ngIf="user">
        <a class="nav-link text-dark" href="#"> Mon profile</a>
      </li>
      <div class="col">
      <div ngbDropdown placement="bottom-right" class="d-inline-block ">
        <button *ngIf="!user" class="btn btn-outline-dark" id="dropdownBasic1" ngbDropdownToggle>Connexion</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <form class="px-4 py-3" (ngSubmit)="login()" [formGroup]="userConn">
            <div class="form-group">
              <label for="exampleDropdownFormEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com" formControlName="email">
            </div>
            <div class="form-group">
              <label for="exampleDropdownFormPassword1">Password</label>
              <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password" formControlName="password">
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="dropdownCheck">
              <label class="form-check-label" for="dropdownCheck">
                Remember me
              </label>
            </div>
            <button type="submit" class="btn btn-primary">Sign in</button>
          </form>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" (click)="openLg(content)">New around here? Sign up</a>
          <a class="dropdown-item" href="#">Forgot password?</a>
        </div>
      </div>



    </div>
    </ul>
  </div>
</nav>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Inscription</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="signUp()" [formGroup]="userForm">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputfirstname">firstname</label>
          <input type="text" class="form-control" id="inputfirstname" placeholder="firstname" formControlName="firstname">
        </div>
        <div class="form-group col-md-6">
          <label for="inputlastname">lastname</label>
          <input type="text" class="form-control" id="inputlastname" placeholder="lastname" formControlName="lastname">
        </div>
        <div class="form-group col-md-6">
          <label for="inputEmail4">Email</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder="Email" formControlName="email">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Password</label>
          <input type="password" class="form-control" id="inputPassword4" placeholder="Password" formControlName="password">
        </div>
      </div>
      <div class="form-group">
        <label for="inputAddress">Address</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" formControlName="inputAddress">
      </div>
      <div class="form-group">
        <label for="inputAddress2">Address 2</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor" formControlName="Address">
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputCity">Ville</label>
          <input type="text" class="form-control" id="inputCity">
        </div>
        <div class="form-group col-md-4">
          <label for="inputState">Pays</label>
          <select id="inputState" class="form-control" formControlName="Pays">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <label for="inputZip">Zip</label>
          <input type="text" class="form-control" id="inputZip" formControlName="inputZip">
        </div>
      </div>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck">
          <label class="form-check-label" for="gridCheck">
            Check me out
          </label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
