<div class="block-checked">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<img src="assets/checkbox.png" class="checkbox-cote">
				<p class="checkbox-text">Nous sommes là pour vous jour et nuit. Parlez à notre équipe d'assistance où que vous soyez et à toute heure.</p>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<img src="assets/checkbox.png" class="checkbox-cote">
				<p class="checkbox-text">Les voyageurs évaluent leurs hôtes après chaque voyage.</p>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<img src="assets/checkbox.png" class="checkbox-cote">
				<p class="checkbox-text">Les meilleures recommandations du quartier, l'hospitalité est une seconde nature chez les hôtes AtypikHouse.</p>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
